<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <img src="https://lh3.googleusercontent.com/proxy/DA6YFpntxPtEXx1gEPr-TS8DUwleMo87PF5E3Tn1n9KFkd_5arir4nPkStHq3J13S08WDt1hW8iYdTfxCENO6qmozauGnU-WEzELxwrWNyfmTk0c-3gdJt5MEl_SjT98_Hv1" alt="Success" style="margin-left:380px; margin-top: 100px;">
</body>
</html>